{{ $description := .Params.seo_description | default .Description | default .Params.summary | default .Site.Params.description | plainify }}
{{ $image := (.Params.image | default .Params.hero_image | default .Site.Params.default_og_image) | absURL }}
{{ $websiteId := printf "%s#website" .Site.Home.Permalink }}
{{ $personUrl := printf "%sabout/" .Site.Home.Permalink }}
{{ $personName := .Site.Params.author }}
{{ $alternateName := .Site.Params.alternate_name | default "" }}
{{ $givenName := .Site.Params.given_name | default "" }}
{{ $familyName := .Site.Params.family_name | default "" }}
{{ with .Site.GetPage "/about" }}
  {{ $personUrl = .Permalink }}
{{ end }}
{{ $personId := printf "%s#person" $personUrl }}
{{ $personReference := dict "@id" $personId "@type" "Person" "name" $personName "url" $personUrl }}
{{ $authorityLinks := slice }}
{{ range (slice "/about" "/publications" "/experience" "/blogs" "/contact") }}
  {{ with $.Site.GetPage . }}
    {{ $authorityLinks = $authorityLinks | append .Permalink }}
  {{ end }}
{{ end }}

{{ $sameAs := slice }}
{{ range .Site.Params.same_as }}
  {{ with .url }}
    {{ $sameAs = $sameAs | append . }}
  {{ end }}
{{ end }}
{{ range .Site.Params.social }}
  {{ if or (hasPrefix .url "https://") (hasPrefix .url "http://") }}
    {{ $sameAs = $sameAs | append .url }}
  {{ end }}
{{ end }}
{{ $sameAs = uniq $sameAs }}

{{ $primaryAffiliation := dict }}
{{ with .Site.Params.primary_affiliation_name }}
  {{ $primaryAffiliation = dict "@type" ($.Site.Params.primary_affiliation_type | default "Organization") "name" . }}
  {{ with $.Site.Params.primary_affiliation_alternate_name }}
    {{ $primaryAffiliation = merge $primaryAffiliation (dict "alternateName" .) }}
  {{ end }}
{{ end }}

{{ $affiliations := slice }}
{{ range .Site.Params.affiliations }}
  {{ $org := dict "@type" (.type | default "Organization") "name" .name }}
  {{ with .alternateName }}
    {{ $org = merge $org (dict "alternateName" .) }}
  {{ end }}
  {{ with .url }}
    {{ $org = merge $org (dict "url" .) }}
  {{ end }}
  {{ $affiliations = $affiliations | append $org }}
{{ end }}

{{ $memberOf := slice }}
{{ range .Site.Params.member_of }}
  {{ $org := dict "@type" (.type | default "Organization") "name" .name }}
  {{ with .alternateName }}
    {{ $org = merge $org (dict "alternateName" .) }}
  {{ end }}
  {{ with .url }}
    {{ $org = merge $org (dict "url" .) }}
  {{ end }}
  {{ $memberOf = $memberOf | append $org }}
{{ end }}

{{ $website := dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "@id" $websiteId
  "name" .Site.Title
  "url" .Site.Home.Permalink
  "description" .Site.Params.description
  "inLanguage" (.Site.LanguageCode | default "en-us")
  "publisher" $personReference
  "about" $personReference
}}
<script type="application/ld+json">{{ $website | jsonify | safeJS }}</script>

{{ $person := dict
  "@context" "https://schema.org"
  "@type" "Person"
  "@id" $personId
  "name" $personName
  "url" $personUrl
  "image" (.Site.Params.portrait | absURL)
  "description" .Site.Params.description
  "jobTitle" .Site.Params.role
  "knowsAbout" .Site.Params.knows_about
  "knowsLanguage" .Site.Params.knows_language
  "affiliation" $affiliations
  "homeLocation" (dict "@type" "Place" "name" .Site.Params.location)
  "mainEntityOfPage" $personUrl
}}
{{ with .Site.Params.email }}
  {{ $contactPoint := dict
    "@type" "ContactPoint"
    "contactType" "professional contact"
    "email" (printf "mailto:%s" .)
    "availableLanguage" $.Site.Params.knows_language
    "url" (printf "%scontact/" $.Site.Home.Permalink)
  }}
  {{ $person = merge $person (dict "email" (printf "mailto:%s" .) "contactPoint" (slice $contactPoint)) }}
{{ end }}
{{ with $alternateName }}
  {{ $person = merge $person (dict "alternateName" .) }}
{{ end }}
{{ with $givenName }}
  {{ $person = merge $person (dict "givenName" .) }}
{{ end }}
{{ with $familyName }}
  {{ $person = merge $person (dict "familyName" .) }}
{{ end }}
{{ if gt (len $sameAs) 0 }}
  {{ $person = merge $person (dict "sameAs" $sameAs) }}
{{ end }}
{{ if gt (len $primaryAffiliation) 0 }}
  {{ $person = merge $person (dict "worksFor" $primaryAffiliation) }}
{{ end }}
{{ if gt (len $memberOf) 0 }}
  {{ $person = merge $person (dict "memberOf" $memberOf) }}
{{ end }}
{{ $person = merge $person (dict
  "alumniOf" (dict "@type" "CollegeOrUniversity" "name" "TED University")
  "award" "McKinsey Forward Program"
  "hasOccupation" (dict "@type" "Occupation" "name" .Site.Params.role))
}}
<script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
{{ $monarch := dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "name" "Monarch Castle Technologies"
  "founder" $personReference
  "foundingDate" "2025"
}}
<script type="application/ld+json">{{ $monarch | jsonify | safeJS }}</script>

{{ if .IsHome }}
  {{ $homeName := .Params.seo_title | default .Title | default .Site.Title }}
  {{ $homePage := dict
    "@context" "https://schema.org"
    "@type" "WebPage"
    "@id" .Permalink
    "url" .Permalink
    "name" $homeName
    "headline" $homeName
    "description" $description
    "about" $personReference
    "mainEntity" $personReference
    "isPartOf" (dict "@id" $websiteId)
    "inLanguage" (.Site.LanguageCode | default "en-us")
    "primaryImageOfPage" (dict "@type" "ImageObject" "url" $image)
    "significantLink" $authorityLinks
  }}
<script type="application/ld+json">{{ $homePage | jsonify | safeJS }}</script>
{{ else if .IsPage }}
  {{ $pageType := "WebPage" }}
  {{ if eq .RelPermalink "/about/" }}
    {{ $pageType = "ProfilePage" }}
  {{ else if eq .RelPermalink "/contact/" }}
    {{ $pageType = "ContactPage" }}
  {{ else if or (eq .Section "blogs") (eq .Section "guides") }}
    {{ $pageType = "Article" }}
  {{ end }}
  {{ $pageSchema := dict
    "@context" "https://schema.org"
    "@type" $pageType
    "@id" .Permalink
    "headline" .Title
    "name" .Title
    "url" .Permalink
    "description" $description
    "isPartOf" (dict "@id" $websiteId)
    "inLanguage" (.Site.LanguageCode | default "en-us")
    "primaryImageOfPage" (dict "@type" "ImageObject" "url" $image)
  }}
  {{ with .Date }}
    {{ $pageSchema = merge $pageSchema (dict "datePublished" (.Format "2006-01-02T15:04:05Z07:00")) }}
  {{ end }}
  {{ with .Lastmod }}
    {{ $pageSchema = merge $pageSchema (dict "dateModified" (.Format "2006-01-02T15:04:05Z07:00")) }}
  {{ end }}
  {{ with .Params.keywords }}
    {{ $pageSchema = merge $pageSchema (dict "keywords" (delimit . ", ")) }}
  {{ end }}
  {{ if eq $pageType "ProfilePage" }}
    {{ $pageSchema = merge $pageSchema (dict "mainEntity" $personReference "about" $personReference "mainEntityOfPage" .Permalink "significantLink" $authorityLinks) }}
  {{ else if eq $pageType "ContactPage" }}
    {{ $pageSchema = merge $pageSchema (dict "mainEntity" $personReference "about" $personReference "mainEntityOfPage" .Permalink) }}
  {{ else if eq $pageType "Article" }}
    {{ $pageSchema = merge $pageSchema (dict "author" $personReference "publisher" $personReference "mainEntityOfPage" .Permalink "image" $image) }}
    {{ $pageSchema = merge $pageSchema (dict
      "wordCount" .WordCount
      "inLanguage" (.Params.lang | default (.Site.LanguageCode | default "en-us"))
      "speakable" (dict "@type" "SpeakableSpecification" "cssSelector" (slice "h1" ".prose")))
    }}
    {{ with .Params.categories }}{{ $pageSchema = merge $pageSchema (dict "articleSection" (index . 0)) }}{{ end }}
  {{ end }}
<script type="application/ld+json">{{ $pageSchema | jsonify | safeJS }}</script>
{{ else if or .IsSection (eq .Kind "taxonomy") (eq .Kind "term") }}
  {{ $collection := dict
    "@context" "https://schema.org"
    "@type" "CollectionPage"
    "@id" .Permalink
    "name" .Title
    "url" .Permalink
    "description" $description
    "isPartOf" (dict "@id" $websiteId)
    "inLanguage" (.Site.LanguageCode | default "en-us")
    "about" $personReference
  }}
<script type="application/ld+json">{{ $collection | jsonify | safeJS }}</script>
{{ end }}

{{ with .Params.faq }}
  {{ $items := slice }}
  {{ range . }}
    {{ $items = $items | append (dict "@type" "Question" "name" .q "acceptedAnswer" (dict "@type" "Answer" "text" .a)) }}
  {{ end }}
  {{ $faq := dict "@context" "https://schema.org" "@type" "FAQPage" "mainEntity" $items }}
<script type="application/ld+json">{{ $faq | jsonify | safeJS }}</script>
{{ end }}

{{ if eq .RelPermalink "/publications/" }}
  {{ with .Params.featured_publications }}
    {{ $list := slice }}
    {{ range $i, $p := . }}
      {{ $work := dict "@type" "Article" "position" (add $i 1) "headline" $p.title "author" $personReference }}
      {{ with $p.publisher }}{{ $work = merge $work (dict "publisher" (dict "@type" "Organization" "name" .)) }}{{ end }}
      {{ with $p.date }}{{ $work = merge $work (dict "datePublished" .) }}{{ end }}
      {{ with $p.url }}{{ $work = merge $work (dict "url" .) }}{{ end }}
      {{ $list = $list | append $work }}
    {{ end }}
    {{ $itemList := dict "@context" "https://schema.org" "@type" "ItemList" "name" "Publications by Arda Akgül" "itemListElement" $list }}
<script type="application/ld+json">{{ $itemList | jsonify | safeJS }}</script>
  {{ end }}
{{ end }}

{{ if not .IsHome }}
  {{ $crumbs := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.Home.Permalink) }}
  {{ $position := 2 }}
  {{ range .Ancestors.Reverse }}
    {{ if ne .RelPermalink "/" }}
      {{ $crumbs = $crumbs | append (dict "@type" "ListItem" "position" $position "name" .Title "item" .Permalink) }}
      {{ $position = add $position 1 }}
    {{ end }}
  {{ end }}
  {{ $crumbs = $crumbs | append (dict "@type" "ListItem" "position" $position "name" .Title "item" .Permalink) }}
  {{ $breadcrumb := dict
    "@context" "https://schema.org"
    "@type" "BreadcrumbList"
    "itemListElement" $crumbs
  }}
<script type="application/ld+json">{{ $breadcrumb | jsonify | safeJS }}</script>
{{ end }}
